@import url("./variables.css");

@import url("./vendor/normalize.css");

@import url("./global/fonts.css");
@import url("./global/reboot.css");
@import url("./global/typography.css");
@import url("./global/utils.css");

@import url("./blocks/icon.css");
@import url("./blocks/sort-form.css");
@import url("./blocks/input-wrapper.css");
@import url("./blocks/small-card.css");
@import url("./blocks/big-card.css");
@import url("./blocks/weather-app.css");
@import url("./blocks/weather-content.css");
@import url("./blocks/weather-map.css");
@import url("./blocks/pin.css");

.weather-content__draggable {
  width: 100%;
  height: 100%;
}

.weather-content__big-inner {
  width: 100%;
  height: 100%;
  margin-bottom: 100px;
}
